{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>{% block title %} Default Title {% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{%static "issuetracker/css/custom_style.css" %}" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{% static "issuetracker/js/help.js" %}"></script>
</head>

<body>
 
{% block nav %}
    {% include 'nav.html' %}
{% endblock %}

<div class="container">

  {% block content %}
  <div> default content </div>
  {% endblock %}
 
{# {% include 'bottom.html' %} #}


</div>

</body>

</html>
