{% load issuetracker_extras %}

<style>
  .clickrow {cursor: pointer;}
</style>

<table  class="table table-hover">

    <tr>
        {% for column_name in table_column_names %}
            <th class="alas">{{ column_name }}</th>
        {% endfor %}
    </tr>

    {% for record in table_query_results %}

        {% if table_link %}
            <tr onclick="document.location = '{{table_link|addstr:record.0}}';" class="clickrow alas"> 
        {% else %}
            <tr class="clickrow"> 
        {% endif %}

        {% for data in record %}
            <td class="alas">{{ data }}</td>
        {% endfor %}

        </tr>
    {% endfor %}

</table>
